# TensorFlow
tensorflow==2.20.0

# Numpy (TF 2.20 نیاز به >=1.26 دارد)
numpy==1.26.4

# Protobuf compatible with TF 2.20
protobuf>=5.28.0

# Streamlit
streamlit==1.38.0

# TensorFlow Datasets
tensorflow-datasets==4.9.2

# Matplotlib
matplotlib==3.7.1

# Pillow compatible with Python 3.11
Pillow==12.0.1

# Optional for notebooks or Streamlit kernel support
ipykernel==7.22.0

# Rich for better logging in Streamlit
rich==14.2.0
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2
