# tensorflow with compatible protobuf
tensorflow==2.20.0
protobuf==3.20.3

# Streamlit
streamlit==1.38.0

# Datasets
tensorflow-datasets==4.9.2

# Other common packages
numpy==1.26.0
matplotlib==3.7.1
Pillow==12.1.0
